<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>文章信息展示</title>
    <link rel="stylesheet" type="text/css" href="views/css/index.css" />
  </head>
  <body>
    <h1 class="title">jsliang 新闻</h1>
    <hr>

    <div class="wrap">
      <ul class="news-list">
        <li class="news">
          <a href="javascript:;">
            <img src="#" alt="" />
          </a>
          <div>
            <h3>
              <a href="javascript:;"
                >18人死伤！韩国一男子纵火后持凶器伤害避险邻居</a
              >
            </h3>
            <div class="info">
              <span class="tips"><span>韩国</span></span>
              <!-- <span class="line"></span> -->
              <span class="time">| &nbsp;&nbsp;1小时前</span>
            </div>
          </div>
        </li>
      </ul>
      <div class="pagination">
        <a href="javascript:;" class="prev">⌜</a>
        <a href="javascript:;">1</a>
        <a href="javascript:;">2</a>
        <a href="javascript:;">3</a>
        <a href="javascript:;">4</a>
        <a href="javascript:;">5</a>
        <a href="javascript:;" class="next">⌝</a>
      </div>
    </div>
  </body>
</html>
