doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Document
    link(rel="stylesheet" type="text/css" href="css/detail.css")
  body
    .text 
      h1.title #{data.title}
      .article-info  #{data.from} 时间：#{data.newTime}
      p.content #{data.title}
