.game {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  color: #fff;
}
.choose-hero {
  width: 100%;
}
.hero {
  position: absolute;
  top: 100px;
  left: 350px;
}
.choose {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 160px;
  right: 33px;
}
.choose-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.choose-item img {
  width: 100px;
  height: 150px;
}
.skill {
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: flex;
  flex-wrap: wrap;
}
.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 25px;
}
.skill-item img {
  width: 70px;
}
.description {
  position: absolute;
  left: 60px;
  top: 100px;
}
.description-item {
  width: 200px;
}
.hero-name {
  font-size: 1.2em;
}
.hero-item img {
  width: 230px;
  height: 350px;
}