<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/detail.css" />
</head>
<body>
    <div class="text">
        <h1 class="title">新闻标题</h1>
        <div class="article-info"> 韩国 时间：2019-6-18</div>
        <p class="content">
            新闻内容新闻内容
            新闻内容新闻内容
            新闻内容新闻内容
        </p>
    </div>
</body>
</html>