/* 全局样式 */
body {
  margin: 0;
  padding: 0;
}
h1 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 35px;
}
h2 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 28px;
}
input {
  border: 1px solid #ccc;
  padding: 7px 0px;
  border-radius: 3px;
  padding-left:5px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
}
input:focus{
  border-color: #66afe9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

/* 通用样式 */
.container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;

  /* 背景效果 */
  position: relative;
  text-align: center;
  background: linear-gradient(
    60deg,
    rgba(84, 58, 183, 1) 0%,
    rgba(0, 172, 193, 1) 100%
  );
  color: white;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 抽奖 CSS */
.content {
  width: 500px;
  height: 85vh;
  padding-top: 30px;
  margin: 0 auto -30px;
}
.lottery {
  width: 100%;
  display: flex;
  justify-content: center;
}
.description {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* 抽奖行为 */
.lotteryLeft {
  width: 200px;
  padding: 20px 20px 0 20px;
}
.numberStart, .numberEnd {
  width: 100px;
}
.btn {
  margin-left: 6px;
  border: none;
  padding: 6px 12px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #08b2b8;
  border-radius: 3px;
}
.start {
  background-color: #00bcd4;
}
.lotteryResult {
  height: 30px;
  text-align: center;
}
.lotteryResultItem {
  width: 30px;
  height: 30px;
  overflow: hidden;
  display: inline-block;
}
.lotteryResultNumber {
  display: inline-block;
  line-height: 30px;
  text-align: center;
  overflow: hidden;
  background: rgb(8, 178, 184);
}
.lotteryResultNumber i {
  width: 30px;
  height: 30px;
  display: block;
  text-align: center;
  font-style: normal;
}
/* 抽奖结果 */
.lotteryRight {
  width: 300px;
  height: 440px;
  padding: 20px 20px 0 20px;
  overflow-y: auto;
}
.list {
  margin: -10px 0 10px 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.list li {
  cursor: pointer;
  position: relative;
  left: 0;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list .text {
  width: 100px;
  font-size: small;
  background-color: #08b2b8;
  height: 24px;
  line-height: 1em;
  padding: 0.8em 0.7em 0 0.7em;
  border-radius: 0 4px 4px 0;
}
.list .badge {
  display: inline-block;
  font-size: small;
  color: white;
  background-color: #000000;
  height: 24px;
  line-height: 1em;
  padding: 0.8em 0.7em 0 0.7em;
  border-radius: 4px 0 0 4px;
}

/* 好看的滚动条 */
::-webkit-scrollbar-thumb:horizontal { /*水平滚动条的样式*/
  width: 4px;
  background-color: #CCCCCC;
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-track-piece {
  background-color: #fff; /*滚动条的背景颜色*/
  -webkit-border-radius: 0; /*滚动条的圆角宽度*/
}
::-webkit-scrollbar {
  width: 10px; /*滚动条的宽度*/
  height: 8px; /*滚动条的高度*/
}
::-webkit-scrollbar-thumb:vertical { /*垂直滚动条的样式*/
  height: 50px;
  background-color: #999;
  -webkit-border-radius: 4px;
  outline: 2px solid #fff;
  outline-offset: -2px;
  border: 2px solid #fff;
}
::-webkit-scrollbar-thumb:hover { /*滚动条的hover样式*/
  height: 50px;
  background-color: #9f9f9f;
  -webkit-border-radius: 4px;
}

/* 别人做好的背景动态 */
.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  min-height: 100px;
  max-height: 150px;
}
.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/* 响应式-暂时不用管 */
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  h1 {
    font-size: 24px;
  }
}